* {
    text-align: center;
    color: rgb(58, 52, 52);
}

#container {
    width: 200px;
    margin: auto;
}

#search {
    background-color: rgb(240, 236, 236);
    width: 200px;
    margin: 20px 0 20px 0;
    height: 30px;
    border-radius: 5px;
}

#city {
    display: inline-block;
    width: 140px;
    height: 30px;
    background-color: rgb(240, 236, 236);
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

#angle {
    vertical-align: top;
    display: inline-block;
    padding-top: 8px;
    height: 100%;
}

.listCityNames:hover {
    background-color: rgb(150, 149, 149);

}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#dropDown {
    border-radius: 5px;
    background-color: rgb(240, 236, 236);
    width: 200px;
    height: 200px;
    overflow: auto;
}



.selected {
    background-color: rgb(204, 202, 202);
}